.navHintShortcut,
.navHintBack,
.navHintYouAreHere,
.navHintHome {
  position: relative;
  pointer-events: none;
}

.navHintShortcut:before,
.navHintBack:before,
.navHintYouAreHere:before,
.navHintHome:before {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  line-height: 10px;
  box-sizing: border-box;
  padding: 0 4px;
  border-radius: 20px;
  background-color: rgb(119, 115, 115);
  color: white;
  font-size: 8px;
  font-family: verdana;
  position: absolute;
  transform-origin: 50% 50%;
  right: 0px;
  top: 0px;
  z-index: 1;
  padding-bottom: 2px;
  text-align: center;
}

.navHintYouAreHere:before {
  content: "you are here";
  background-color: red;
  transform: rotate(20deg);
  right: -30px;
  top: 10px;
}

.navHintBack:before {
  content: "go up one step";
  transform: rotate(-20deg);
  top: -15px;
}

.navHintHome:before {
  right: -45px;
  top: 0px;
  content: "go back home";
}

.navHintShortcut:before {
  right: 24px;
  top: 6px;
  transform: rotate(24deg);
  content: "shortcut";
}
