.navContainer {
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: none;
  position: relative;
}

.navRow {
  display: flex;
  justify-content: space-between;
  min-height: 20px;
}

.navLinkArrowRow {
  min-height: 49px;
}

.navButton {
  width: 70px;
}

.navFiller {
  flex: 1;
}

.navButtonInner {
  pointer-events: all;
  padding: 0 3px;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(210, 217, 231);
  text-decoration: none;
  text-align: center;
  user-select: none;
  font-family: verdana;
  display: block;
}

.navSideButtonContainer,
.navSideButtonContainer .navButton {
  width: 35px;
  min-width: 35px;
}

.navMapButtonContainer {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.navBackButtonContainer .navButton {
  min-width: 25px;
}

.navButtonInner:hover {
  background-color: rgb(169, 184, 216);
}

.navButtonInner:visited {
  color: blue;
}

.navButtonInner:active {
  background-color: blue;
  color: white;
}
