.navContainer {
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: none;
  position: relative;
}

.navInner {
  transition: opacity 500ms ease, transform 500ms ease;
  transform: scale(1, 1);
  opacity: 1;
  width: 100%;
}

.navInnerDuringEntering {
  opacity: 0;
}

.navInnerDuringExiting {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.navInnerFurther {
  transform: translate3d(0, -40px, 0) scale(0.5, 0.5);
}

.navInnerNearer {
  transform: translate3d(0, 40px, 0) scale(1.5, 1.5);
}

.navRow {
  display: flex;
  justify-content: space-between;
}

.navButton {
  display: inline-block;
  min-width: 60px;
}

.navButtonInner {
  pointer-events: all;
  padding: 0 3px;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(210, 217, 231);
  text-decoration: none;
  text-align: center;
  user-select: none;
  font-family: verdana;
  display: block;
}

.navSideButtonContainer,
.navSideButtonContainer .navButton {
  width: 35px;
  min-width: 35px;
}

.navMapButtonContainer {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.navBackButtonContainer .navButton {
  min-width: 25px;
}

.navButtonInner:hover {
  background-color: rgb(169, 184, 216);
}

.navButtonInner:visited {
  color: blue;
}

.navButtonInner:active {
  background-color: blue;
  color: white;
}
