.buttonGroupContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.buttonGroupContainerMerged > button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.buttonGroupContainerMerged > button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.buttonGroupContainer > button {
  margin-bottom: 10px;
}

.buttonGroupContainer:not(.buttonGroupContainerMerged)
  > button:not(:first-child) {
  margin-left: 10px;
}

.buttonGroupContainerNoBottomMargin {
  margin-bottom: 0;
}
