.payloadArticleList {
  padding-left: 0;
}

.payloadArticleListItem {
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
}

.payloadArticleListItem > :first-child {
  flex-shrink: 0;
  flex-grow: 0;
  height: 80px;
  width: 80px;
}

.payloadArticleListItem > :first-child > div {
  background-repeat: no-repeat;
  height: 160px;
  width: 160px;
  transform: scale(0.5, 0.5);
  transform-origin: top left;
}

.payloadArticleListItem:hover {
  background-color: #f7cb8c;
}

.payloadArticleListItem > :last-child {
  flex-grow: 1;
}

.payloadArticleListInfoBox {
  margin: 0 10px;
  display: flex;
  font-size: 12px;
  flex-direction: column;
}

.payloadArticleListInfoTitle {
  font-family: verdana;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}
