.battleHeadlineContainer {
  display: flex;
  background-color: sandybrown;
  padding: 0 5px;
  align-items: center;
}

.battleHeadlineTurn {
  width: 150px;
  line-height: 2em;
}

.battleHeadlineSlider {
  flex-grow: 1;
}
