.markdownContainer > div:first-child > :first-child {
  margin-top: 0;
}

.markdownContainer > div:last-child > :last-child {
  margin-bottom: 0;
}

.markdownContainer {
  margin-bottom: 1em;
}

.md-icon-svg {
  display: inline-block;
  height: 25px;
  width: 25px;
}

.md-arr {
}

.md-img {
  max-width: 100%;
  position: relative;
  transition: background-color 0.3s ease;
  background-color: transparent;
}

.md-img > img {
  max-width: 100%;
  transition: opacity 0.3s ease;
}

.md-img-with-placeholder {
  background-color: bisque;
}

.md-img-with-placeholder > img {
  opacity: 0;
}

.md-img-info {
  position: absolute;
  bottom: 5px;
  left: 0;
  display: flex;
  justify-content: space-between;
  right: 0;
  text-align: right;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-family: verdana;
  font-size: 10px;
}

.md-img-info a {
  color: white !important;
}

.md-pos,
.md-pos-with-unit {
  background-color: #eee;
  padding: 3px;
  border: 1px solid black;
  white-space: nowrap;
}

.md-plr {
  font-weight: bold;
}

.md-plr-0 {
  color: gold;
}

.md-plr-1 {
  color: red;
}

.md-plr-2 {
  color: blue;
}

.md-outcome {
  font-weight: bold;
}

.md-2col,
.md-3col {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
}

.md-2col > * {
  margin-top: 0;
  margin-bottom: 0;
  width: 49%;
}

.md-3col > * {
  margin-top: 0;
  margin-bottom: 0;
  width: 32%;
}

.md-example {
  background-color: #bbb;
  padding: 12px;
  border-radius: 4px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.md-example > :first-child {
  margin-top: 0;
}

.md-example > :last-child {
  margin-bottom: 0;
}

.md-setup {
  text-align: center;
}

.md-setup > svg {
  max-height: 280px;
  max-width: 280px;
}
