.markdownContainer {
}

.md-icon-svg {
  display: inline-block;
  height: 25px;
  width: 25px;
}

.md-arr {
}

.md-img {
  max-width: 100%;
  position: relative;
}

.md-img > img {
  max-width: 100%;
}

.md-img-info {
  position: absolute;
  bottom: 5px;
  left: 0;
  display: flex;
  justify-content: space-between;
  right: 0;
  text-align: right;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  font-family: verdana;
  font-size: 10px;
}

.md-pos {
  background-color: #eee;
  padding: 3px;
  border: 1px solid black;
  white-space: nowrap;
}

.md-plr {
  font-weight: bold;
}

.md-plr-0 {
  color: gold;
}

.md-plr-1 {
  color: red;
}

.md-plr-2 {
  color: blue;
}

.md-outcome {
  font-weight: bold;
}
