.navbarContainer {
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: none;
  position: relative;
}

.navbarInner {
  transition: opacity 500ms ease, transform 500ms ease;
  transform: scale(1, 1);
  opacity: 1;
  width: 100%;
}

.navbarBottom {
}

.navbarInnerDuringEntering {
  opacity: 0;
}

.navbarInnerDuringExiting {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.navbarInnerFurther {
  transform: translate3d(0, -40px, 0) scale(0.5, 0.5);
}

.navbarInnerNearer {
  transform: translate3d(0, 40px, 0) scale(1.5, 1.5);
}

.navbarListOuter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbarList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbarList .navbarButton {
  margin: 0 2.5px;
}

.navbarButton {
  display: inline-block;
  min-width: 60px;
}

.navbarButtonInner {
  pointer-events: all;
  padding: 0 3px;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(210, 217, 231);
  text-decoration: none;
  text-align: center;
  user-select: none;
  font-family: verdana;
  display: block;
}

.navbarSideButtonContainer,
.navbarSideButtonContainer .navbarButton {
  width: 35px;
  min-width: 35px;
}

.navbarMapButtonContainer {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.navbarBackButtonContainer .navbarButton {
  min-width: 25px;
}

.navbarButtonInner:hover {
  background-color: rgb(169, 184, 216);
}

.navbarButtonInner:visited {
  color: blue;
}

.navbarButtonInner:active {
  background-color: blue;
  color: white;
}
