.navbarContainer {
  height: 100%;
  padding-bottom: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  pointer-events: none;
}

.navbarInner {
  transition: opacity 500ms ease, transform 500ms ease;
  transform: scale(1, 1);
  opacity: 1;
  width: 100%;
}

.navbarBottom {
}

.navbarInnerDuringEntering {
  opacity: 0;
}

.navbarInnerDuringExiting {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.navbarInnerFurther {
  transform: translate3d(0, -40px, 0) scale(0.5, 0.5);
}

.navbarInnerNearer {
  transform: translate3d(0, 40px, 0) scale(1.5, 1.5);
}

.navbarListOuter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbarList {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbarButton {
  border: 1px solid blue;
  color: blue;
  border-radius: 3px;
  background-color: rgba(38, 92, 206, 0.324);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 0 3px;
  min-width: 50px;
  text-align: center;
  user-select: none;
  font-family: verdana;
  margin: 0 6px;
  pointer-events: all;
}

.navbarMapButtonContainer,
.navbarBackButtonContainer {
  width: 20px;
}

.navbarBackButtonContainer .navbarButton {
  min-width: 18px;
}

.navbarButton:hover {
  background-color: rgba(38, 92, 206, 0.6);
}

.navbarButton:visited {
  color: blue;
}

.navbarButton:active {
  background-color: blue;
  color: white;
}
