.sessionListInstruction {
  margin-bottom: 1em;
}

.sessionListFullError {
  padding: 20px;
  font-weight: bold;
  color: red;
}

.sessionListItemErrorInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: red;
}

.sessionListEmpty {
  text-align: center;
  margin: 0 20px;
  font-style: italic;
  color: gray;
  font-size: 12px;
}

.sessionListItem {
  display: flex;
  height: 80px;
  margin-bottom: 10px;
}

.sessionListItem:not(.sessionListItemWithError) {
  cursor: pointer;
}

.sessionListItem:hover:not(.sessionListItemWithError) {
  background-color: antiquewhite;
}

.sessionListItemScreenshot {
  width: 80px;
  height: 80px;
  position: relative;
  flex-shrink: 0;
  margin-right: 10px;
}

.sessionListInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; /* because LocalSession parent has text-align center */
  font-size: 12px;
}
