.sessionListItem {
  display: flex;
  height: 80px;
  margin-bottom: 10px;
  cursor: pointer;
}

.sessionListItem:hover {
  background-color: antiquewhite;
}

.sessionListItemScreenshot {
  width: 80px;
  height: 80px;
  position: relative;
  flex-shrink: 0;
  margin-right: 10px;
}

.sessionListInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
}
