.board {
    height: 600px;
    width: 600px;
    border: 1px solid black;
    position: relative;
    background-size: cover;
}

.square {
    position: absolute;
    font-size: 40px;
    transition: bottom 0.5s, left 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piece {
    transition: color 0.5s ease;
}

.owner0 {
    color: gold;
}

.owner1 {
    color: blue;
}

.owner2 {
    color: red;
}

.mark {
    border: 5px solid white;
    border-radius: 500px;
    box-sizing: border-box;
    cursor: pointer;
}

.potentialmark {
    opacity: 0.45;
}

.fadein.pieces-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fadein.pieces-enter.pieces-enter-active {
  opacity: 1;
}

.pieces-leave {
  opacity: 1;
  transition: opacity .5s ease-in, transform 0.5s ease-in;
}

.pieces-leave.pieces-leave-active {
  opacity: 0.01;
  transform: scale(2, 2)
}

.commands {
    display: flex;
}

.commands > div {
    display: flex;
    flex-direction: column;
}

.commandbtn {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 100px;
}

.history {
    position: absolute;
    padding-left: 20px;
    width: 200px;
}

.turn {
    display: flex;
    align-items: center;
    padding: 3px;
    border-bottom: 1px solid lightgray;
}

.turn.player0 {color: darkgray;}
.turn.player1 {color: blue;}
.turn.player2 {color: red;}

.turn.player0 > div:first-child {background-color: darkgray;}
.turn.player1 > div:first-child {background-color: blue;}
.turn.player2> div:first-child {background-color: red;}

.turn > div:first-child {
    text-align: center;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
    color: white;
    margin-right: 15px;
}

.turn > div:last-child {
    flex: 1;
}

.turn > div:last-child > div {
    cursor: pointer;
}

.turn > div:last-child > div:hover, .currentStep {
    background-color: gold;
}

.playback {
    display: flex;
    flex-direction: column;
}