.board {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    position: relative;
}

.square {
    position: absolute;
    font-size: 40px;
    transition: bottom 0.5s, left 0.5s;
}

.square > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.owner1 {
    color: blue;
}

.owner2 {
    color: red;
}

.mark {
    border: 3px solid yellow;
    border-radius: 500px;
    box-sizing: border-box;
    cursor: pointer;
}

.potentialmark {
    opacity: 0.2;
}
