/* Mostly stolen from Blueprint button */

.button > a {
  color: inherit;
  text-decoration: none;
}

.button {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2),
    inset 0 -1px 0 rgba(16, 22, 26, 0.1);
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2),
    inset 0 -1px 0 rgba(16, 22, 26, 0.1);

  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;

  text-transform: none;
  text-decoration: none;

  -webkit-appearance: button;

  background-color: #f5f8fa;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(hsla(0, 0%, 100%, 0.8)),
    to(hsla(0, 0%, 100%, 0))
  );
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.8),
    hsla(0, 0%, 100%, 0)
  );
  color: #182026;

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px;
  vertical-align: middle;
  text-align: left;
  font-size: 12px;
  min-width: 30px;
  min-height: 20px;

  -webkit-tap-highlight-color: transparent;
  outline: none;

  font: 400 11px system-ui;

  text-decoration: none;
}

.button:hover {
  background-clip: padding-box;
  background-color: #ebf1f5;
}
.button:active,
.buttonActive {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2),
    inset 0 1px 2px rgba(16, 22, 26, 0.2);
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2),
    inset 0 1px 2px rgba(16, 22, 26, 0.2);
  background-color: #d8e1e8;
  background-image: none;
}

.buttonBig {
  min-width: 40px;
  min-height: 40px;
  padding: 5px 15px;
  font-size: 16px;
}

.button:disabled,
.buttonDisabled {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(206, 217, 224, 0.5);
  background-image: none;
  cursor: not-allowed;
  color: rgba(92, 112, 128, 0.6);
}

.buttonPrimary {
  background-color: #137cbd;
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 100%, 0)
  );
  color: white;
}

.buttonPrimary:hover {
  background-color: #106ba3;
}

.buttonPrimary.buttonDisabled,
.buttonPrimary:disabled {
  background-color: rgba(19, 124, 189, 0.5);
  color: hsla(0, 0%, 100%, 0.6);
}

.buttonPrimary.buttonActive,
.buttonPrimary:active {
  background-color: #0e5a8a;
}

.buttonDanger {
  background-color: #db3737;
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 100%, 0)
  );
  color: white;
}

.buttonDanger:hover {
  background-color: #c23030;
}

.buttonDanger.buttonDisabled,
.buttonDanger:disabled {
  background-color: rgba(219, 55, 55, 0.5);
  color: hsla(0, 0%, 100%, 0.6);
}

.buttonDanger.buttonActive,
.buttonDanger:active {
  background-color: #a82a2a;
}

.asyncButtonHidden {
  overflow-y: hidden;
  height: 0;
}

.asyncButtonMegaHidden {
  display: none;
}

.asyncButtonContent {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
