/* Mostly stolen from Blueprint button */

.button:hover {
  background-clip: padding-box;
  background-color: #ebf1f5;
}
.button:active {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2),
    inset 0 1px 2px rgba(16, 22, 26, 0.2);
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2),
    inset 0 1px 2px rgba(16, 22, 26, 0.2);
  background-color: #d8e1e8;
  background-image: none;
}

.button:disabled {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(206, 217, 224, 0.5);
  background-image: none;
  cursor: not-allowed;
  color: rgba(92, 112, 128, 0.6);
}
.button {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2),
    inset 0 -1px 0 rgba(16, 22, 26, 0.1);
  box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2),
    inset 0 -1px 0 rgba(16, 22, 26, 0.1);

  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;

  text-transform: none;

  -webkit-appearance: button;

  background-color: #f5f8fa;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(hsla(0, 0%, 100%, 0.8)),
    to(hsla(0, 0%, 100%, 0))
  );
  background-image: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0.8),
    hsla(0, 0%, 100%, 0)
  );
  color: #182026;

  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px;
  vertical-align: middle;
  text-align: left;
  font-size: 12px;
  min-width: 30px;
  min-height: 20px;

  -webkit-tap-highlight-color: transparent;
  outline: none;

  font: 400 11px system-ui;

  text-decoration: none;
}

a > .button {
  text-decoration: none;
}
