.breadcrumbsContainer {
  display: flex;
  padding: 0 5px;
  align-items: center;
  line-height: 2em;
}

.breadcrumb {
  font-size: 11px;
  align-self: stretch;
}

.breadcrumbClickable {
  cursor: pointer;
  text-decoration: underline;
}

.breadcrumbDivider {
  margin: 0 10px;
}
