.titlePageModalCloser {
  float: right;
  background-color: lightcoral;
}

.titlePageSchpiel {
  font-size: 12px;
}

.titlePageStrip {
  text-align: center;
  width: 100%;
}

.titlePageLink {
  display: block;
  text-decoration: none;
  border-radius: 5px;
  overflow: hidden;
  width: 120px;
  height: 30px;
  background-size: contain;
}

.titlePageLink:hover {
  opacity: 0.8;
}

.titlePageButtonContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.titlePageButtonContainer > :not(:first-child) {
  margin-top: 10px;
}

.titlePageBoardContainer {
  opacity: 0.5;
}

.titlePageBlarb {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-shadow: 0 0 3px black;
}

.titlePageBlarb h3 {
  font-size: 4em;
  margin: 0px 0;
}

.titlePageBlarb h4 {
  margin-top: 8px;
  font-size: 1.5em;
}

.titlePageBlarb em {
  font-size: 1.2em;
}
