.titlePageStrip {
  text-align: center;
  width: 100%;
}

.titlePageWelcomeContainer {
  position: absolute;
  z-index: 100;
  top: 30px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.titlePageBoardBox {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.titlePageBoardWelcome {
  flex-grow: 1;
}

.titlePageBoardWelcome > span {
  margin-bottom: -20px;
  display: block;
  padding-left: 20px;
}

.titlePageBoardWelcome > h1 {
  margin-bottom: -10px;
  margin-top: -5px;
  font-family: cursive;
  font-size: 44px;
}

.titlePageBoardWelcome button {
  margin-bottom: 5px;
}

.titlePageBoardBox > .titlePageBoardGamesFlicker {
  width: 40px;
}
