.titlePageModalCloser {
  float: right;
  background-color: lightcoral;
}

.titlePageButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.titlePageButtonContainer button:not(:last-child) {
  margin-right: 10px;
}

.titlePageSchpiel {
  font-size: 12px;
}

.titlePageStrip {
  text-align: center;
  width: 100%;
}
