.titlePageModalCloser {
  float: right;
  background-color: lightcoral;
}

.titlePageSchpiel {
  font-size: 12px;
}

.titlePageStrip {
  text-align: center;
  width: 100%;
}

.titlePageLink {
  display: block;
  text-decoration: none;
  border-radius: 5px;
  overflow: hidden;
  width: 90px;
  height: 30px;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 34px;
  line-height: 30px;
  font-family: Cookie;
  color: white;
  background-color: #ff823e;
}

.titlePageLink:hover {
  opacity: 0.8;
}

.titlePageButtonContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

@media (max-width: 430px) {
  .titlePageButtonContainer {
    padding: 4px;
    margin-left: -10px;
    margin-right: -10px;
  }
}

.titlePageBoardContainer {
  opacity: 0.5;
}

.titlePageBlarb {
  position: absolute;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  text-shadow: 0 0 3px black;
}

.titlePageBlarb h3 {
  font-size: 4em;
  margin: 0px 0;
}

.titlePageBlarb h4 {
  margin-top: 8px;
  font-size: 1.6em;
}

.titlePageBlarb h4:before,
.titlePageBlarb h4:after {
  content: " ... ";
}

.titlePageBlarb em {
  font-size: 1.4em;
  font-style: normal;
}
