.titlePageStrip {
  text-align: center;
  width: 100%;
}

.titlePageBodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.titlePageBodyContainer:after {
  content: "";
  height: 20px;
  flex-shrink: 10;
}

.titlePageWelcomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.titlePageBoardBox {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.titlePageBoardWelcome {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titlePageBoardGamesFlicker {
  width: 40px;
}

.titlePageBoardGamesFlicker > button {
  --flicker-size: 35px;
  height: var(--flicker-size);
  width: var(--flicker-size);
  border-radius: var(--flicker-size);
  -webkit-user-select: none;
  user-select: none;
}

.titlePageLogo {
  width: 235px;
  display: inline-block;
  margin: 5px 0;
}

.titlePageWelcomeRow {
  display: flex;
  justify-content: center;
  align-items: center; /* to make text and button on the same line */
  font-size: 11px;
  font-family: system-ui;
}
