body {
  position: fixed;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pageContainer {
  width: 100%;
  max-height: 800px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 450px) {
  .pageContainer {
    width: 450px;
  }
}

.pageTop {
  background-color: saddlebrown; /* should be same as board border */
  flex-shrink: 0;
}

.pageStrip {
  background-color: sandybrown;
  height: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  flex-shrink: 0;
}

.pageBody {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  position: relative;
  min-height: 1px; /* otherwise flex-items uses content size as min-height  */
  padding: 10px;
  padding-top: 20px;
  background-color: blanchedalmond;
}

.pageContainer img {
  max-width: 100%;
}
