.buttonBarContainer > button:not(:last-child) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: -1px;
}

.buttonBarContainer > button:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
