.articleList {
  padding-left: 0;
}

.articleListItem {
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: space-between;
}

.articleListItem > :first-child {
  flex-shrink: 0;
  flex-grow: 0;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.articleListItem > :first-child > img {
  max-height: 80px;
  max-width: 80px;
}

.articleListItem:hover {
  background-color: antiquewhite;
}

.articleListItem > :last-child {
  flex-grow: 1;
}

.articleListInfoBox {
  margin: 0 10px;
  display: flex;
  font-size: 12px;
  flex-direction: column;
}

.articleListInfoTitle {
  font-family: verdana;
  font-weight: normal;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 10px;
}
